{
  "debug_info": {{ stack_vars.godns.debug_info_enabled | lower }},
  "provider": "Cloudflare",
  "login_token_file": "/run/secrets/godns_dns_api_token",
  "domains": [
    {
      "domain_name": "{{ karo_compose_root_domain }}",
      "sub_domains": ["{{ stack_vars.godns.subdomain }}"]
    }
  ],
  "resolver": "1.1.1.1",
  "ip_urls": [
    "https://api4.ipify.org",
    "https://ipecho.net/plain",
    "https://api-ipv4.ip.sb/ip",
    "https://ip2location.io/ip",
    "https://ipinfo.io/ip"
  ],
  "ip_type": "IPv4",
  "interval": 300,
  "socks5_proxy": "",
  "proxied": false
}
