# SPDX-FileCopyrightText: 2025 - 2026 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---

name: prowlarr
services:

  prowlarr:
    image: {{ compose.prowlarr.image }}:{{ compose.prowlarr.version }}
    container_name: prowlarr
    restart: {{ karo_compose_restart_policy }}
    network_mode: "container:gluetun"
    volumes:
      - type: volume
        source: prowlarr_data
        target: /config
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`{{ compose.prowlarr.domain }}`)
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
{% if compose.prowlarr.forward_auth_enabled %}
      # forward auth
      - traefik.http.routers.prowlarr.middlewares=tinyauth
      - tinyauth.apps.prowlarr.config.domain={{ compose.prowlarr.domain }}
      - tinyauth.apps.prowlarr.oauth.groups={{ karo_compose_oidc_admin_group }}
{% endif %}
    environment:
      - TZ={{ karo_compose_timezone }}
      - PUID=1000
      - PGID=1000

volumes:
  prowlarr_data:
    name: prowlarr_data
