# SPDX-FileCopyrightText: 2025 - 2026 hazzuk
#
# SPDX-License-Identifier: AGPL-3.0-only

---

name: gluetun
services:

  gluetun:
    image: {{ compose.gluetun.image }}:{{ compose.gluetun.version }}
    container_name: gluetun
    restart: {{ karo_compose_restart_policy }}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - egress_gluetun
      - frontend
    extra_hosts:
      - "{{ karo_compose_oidc_domain }}:172.18.0.254"
    environment:
      - TZ={{ karo_compose_timezone }}
      - LOG_LEVEL={{ compose.gluetun.log_level }}
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - FIREWALL_VPN_INPUT_PORTS={{ compose.gluetun.firewall_vpn_input_ports }}
      - WIREGUARD_CONF_SECRETFILE=/run/secrets/gluetun_wireguard_config_raw
    secrets:
      - gluetun_wireguard_config_raw

networks:
  egress_gluetun:
    name: egress_gluetun
    driver: bridge
    internal: false
  frontend:
    external: true

secrets:
  gluetun_wireguard_config_raw:
    file: /run/user/1001/karo/compose/gluetun_wireguard_config_raw
